{{#entries}}
<p><strong>{{first_name}} {{last_name}}</strong><br />
{{study_1}}{{#study_3}}, Minor: {{study_3}}{{/study_3}} &mdash; {{institution}} | <a href="{{{project_url}}}" target="_blank">{{project_name}}</a></p>

{{/entries}}